# Node modules
node_modules/

# Logs
*.log

# Dependency directories
bower_components/
jspm_packages/

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# IDE and Editor folders
.idea/
.vscode/
*.swp

# Build directories
dist/
build/

# Other files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
